html
	head
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
		title REDIRECT
	body
		p test page
	script(src="../js/jquery.js")
	script.
		$.ajax({
			url: '/data/r5451db97c0eb02d3545ae6e7.json',
			success: function(res){
				console.log(res);
				//console.log(JSON.parse(res));
			}
		})

