label,select, input {
			color: #666;
		}
		.form-item {
			border:none;
			border-bottom: 1px solid #ccc;
		}
		#create_test_section{
			width: 600px;
		    margin: 30px auto;
		    padding: 30px 50px 30px 50px;
		    box-shadow: 0 0 10px 4px rgba(0, 0, 0, .04);
		    background-color: white;
		}
		.btn{
		    padding: 12px;
		    font-size: 18px;
		    border-radius: 4px;
		    width: 100%;
		    margin: 10px 0;
		    display: inline-block;
		    outline: none;
		    color: #fff;
		    background-color: #428bca;
		    border-color: #357ebd;
		    font-weight: 400;
		    text-align: center;
		    vertical-align: middle;
		    cursor: pointer;
		    background-image: none;
		    border: 1px solid transparent;
		    white-space: nowrap;
		    line-height: 1.42857143;
		    -webkit-user-select: none;
		    -moz-user-select: none;
		    -ms-user-select: none;
		    user-select: none;
		}
		h3 {
		    text-align: center;
		    font-family: 'Open Sans', arial;
		    -webkit-font-smoothing: antialiased;
		    color: #555;
		    font-size: 18px;
		    margin: 0 0 20px 0;
		}
		.form-div {
			padding: 6px 0;
		}
		.finder-box {
			display: none;
		}
.nav-result {
	display: block;
	position: absolute;
	top: 10px;
	right: 20px;
}

#qinfo{
	position:fixed;
	width: 300px;
}
#qinfo span{
	margin-left: 6px;
}